{{#section 'title'}}
	Edit Category
{{/section}}

{{#section 'css'}}
  	
{{/section}}

{{#section 'js'}}
	<script type="text/javascript">
    $(function(){

    	$('#btnUpdate').click(function( event ) {
        	event.preventDefault();
        	swal({
        		type: 'success',
            	title: 'Update Successfully',
            	showConfirmButton: false,
            	timer: 1500
        	}).then((result) => {
            	$('#frmUpdate').submit();
          	})
    	});

    });
    </script>
{{/section}}

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      	<div class="card-simple overflow">
			{{#with Category}}
			<form id="frmUpdate" action="" method="POST" role="form">
				<div class="form-group">
			    	<label for="catID">Category ID</label>
			    	<input type="text" class="form-control disabled" name="catID" value="{{ID}}">
			  	</div>
			  	<br>
			  	<div class="form-group">
			    	<label for="catName">Category Name</label>
			    	<input type="text" class="form-control" name="catName" value="{{TenLoai}}">
			  	</div>
			  	<br>
			  	<div class="form-check">
				  	<input class="form-check-input" type="radio" name="catStatus" value="1" id="R1" checked>
				  	<label class="form-check-label" for="R1">In use</label>
				</div>
				<br>
				<div class="form-check">
				  	<input class="form-check-input" type="radio" name="catStatus" value="0" id="R2">
				  	<label class="form-check-label" for="R2">Not used</label>
				</div>
				<br><br>
			  	<button id="btnUpdate" type="submit" class="btn btn-primary">UPDATE</button>
			</form>
			{{/with}}
		</div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

