{{#section 'title'}}
	Dashboard
{{/section}}

{{#section 'css'}}
  
{{/section}}

{{#section 'js'}}

{{/section}}


<div class="my-header-font center-align">
	DASHBOARD
</div>
<br><br><br><br>
<div class="row">

	<div class="col-lg-2 col-md-7 p10"></div>
	
	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 p10">
		<a href="/admin/products">
			<div class="card gradient-danger">
				<div class="row card-content p10">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 p10 " align="center">
						<div class="card-icon-small"><i class="material-icons">photo_camera</i></div>
						<p class="card-text  pl-0"><strong>Products</strong></p>
					</div>
				</div>
			</div>
		</a>
	</div>
	

	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 p10">
		<a href="/admin/suppliers">
			<div class="card gradient-primary">
				<div class="row card-content p10">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5  p10" align="center">
						<div class="card-icon-small"><i class="material-icons">perm_identity</i></div>
						<p class="card-text pl-0"><strong>Suppliers</strong></p>
					</div>
				</div>
			</div>
		</a>
	</div>

</div>
<br><br>
<div class="row">

	<div class="col-lg-2 col-md-7 col-sm-12 col-xs-12 col-12 p10"></div>

	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 p10">
		<a href="/admin/categories">
			<div class="card gradient-success">
				<div class="row card-content p10">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 p10 " align="center">
						<div class="card-icon-small"><i class="material-icons">view_list</i></div>
						<p class="card-text pl-0"><strong>Categories</strong> </p>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 p10">
		<a href="/admin/orders">
			<div class="card gradient-warning">
				<div class="row card-content p10">
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 p10 " align="center">
						<div class="card-icon-small"><i class="material-icons">shopping_cart</i></div>
						<p class="card-text pl-0"><strong>Orders</strong></p>
					</div>
				</div>
			</div>
		</a>
	</div>

</div>