{{#section 'title'}}
  Checkout
{{/section}}

{{#section 'css'}}
  
{{/section}}
    
{{#section 'js'}}
    <script type="text/javascript">
        $( document ).ready(function() {

          for (var i = 1; i < 16;  i++)
          {
            $('#province').append('<option>' + i + '</option>');
            $('#province_1').append('<option>' + i + '</option>');
          }

          $('#cont').click(function(event) {
            $(this).hide();
            $('#box_1').show();
          });  

          $('#cont_1').click(function(event) {
            $(this).hide();
            $('#box_2').show();
          });  

          $('#cont_2').click(function(event) {
            $(this).hide();
            $('#box_3').show();
          });  

          $('#cont_3').click(function(event) {
            $(this).hide();
            $('#box_4').show();
          });  
        });

    </script>
{{/section}}

<!-- Breadcrumbs -->
  
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/home">Home</a><span>&raquo;</span></li>
            <li><strong>Checkout</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  
  <!-- Main Container -->
  <section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12">
            <div class="page-title">
              <h2>Checkout</h2>
            </div>
          <div class="page-content checkout-page">
            <h4 class="checkout-sep">1. Billing Infomations</h4>
            <div class="box-border">
              <ul>
                <li class="row">
                  <div class="col-sm-6">
                    <label for="first_name" class="required">First Name<span class="required">*</span></label>
                    <input type="text" class="input form-control" name="" id="first_name">
                  </div>
                  <div class="col-sm-6">
                    <label for="last_name" class="required">Last Name<span class="required">*</span></label>
                    <input type="text" name="" class="input form-control" id="last_name">
                  </div>
                </li>

                <li class="row">
                  <div class="col-sm-6">
                    <label for="telephone" class="required">Telephone<span class="required">*</span></label>
                    <input class="input form-control" type="text" name="" id="telephone">
                  </div>

                  <div class="col-sm-6">
                    <label for="city" class="required">City<span class="required">*</span></label>
                    <select class="input form-control" id="city">
                      <option value="1">Hồ Chí Minh</option>
                    </select>
                  </div>
                </li>
                
                <li class="row">                  
                  <div class="col-sm-6">
                    <label for="district" class="required">District<span class="required">*</span></label>
                    <select class="input form-control" id="district">
                      <option value="1">Quận 5</option>
                    </select>
                  </div>

                  <div class="col-sm-6">
                    <label class="required">Province<span class="required">*</span></label>
                    <select class="input form-control" id="province">
                    </select>
                  </div>
                </li>

                <li class="row">
                  <div class="col-xs-12">
                    <label for="address" class="required">Address<span class="required">*</span></label>
                    <input type="text" class="input form-control" id="address" placeholder="Example: 763/15 Trường Chinh">
                  </div>                  
                </li>
                
                <li>
                  <button class="button" type="button" id="cont">
                    <i class="fa fa-angle-double-right"></i>&nbsp; <span>Continue</span>
                  </button>
                </li>
              </ul>
            </div>
            <h4 class="checkout-sep">2. Shipping Information</h4>
            <div class="box-border" id="box_1" style="display: none;">
              <ul>
                <li class="row">
                  <div class="col-sm-6">
                    <label for="first_name" class="required">First Name<span class="required">*</span></label>
                    <input type="text" class="input form-control" name="" id="first_name_1">
                  </div>
                  <div class="col-sm-6">
                    <label for="last_name" class="required">Last Name<span class="required">*</span></label>
                    <input type="text" name="" class="input form-control" id="last_name_1">
                  </div>
                </li>

                <li class="row">
                  <div class="col-sm-6">
                    <label for="telephone" class="required">Telephone<span class="required">*</span></label>
                    <input class="input form-control" type="text" name="" id="telephone_1">
                  </div>

                  <div class="col-sm-6">
                    <label for="city" class="required">City<span class="required">*</span></label>
                    <select class="input form-control" id="city_1">
                      <option value="1">Hồ Chí Minh</option>
                    </select>
                  </div>
                </li>
                
                <li class="row">                  
                  <div class="col-sm-6">
                    <label for="district" class="required">District<span class="required">*</span></label>
                    <select class="input form-control" id="district_1">
                      <option value="1">Quận 5</option>
                    </select>
                  </div>

                  <div class="col-sm-6">
                    <label class="required">Province<span class="required">*</span></label>
                    <select class="input form-control" id="province_1">
                    </select>
                  </div>
                </li>

                <li class="row">
                  <div class="col-xs-12">
                    <label for="address" class="required">Address<span class="required">*</span></label>
                    <input type="text" class="input form-control" id="address" placeholder="Example: 763/15 Trường Chinh">
                  </div>                  
                </li>
                
                <li>
                  <button class="button" id="cont_1">
                    <i class="fa fa-angle-double-right"></i>&nbsp; <span>Continue</span>
                  </button>
                </li>
              </ul>
            </div>
            <h4 class="checkout-sep">3. Shipping Method</h4>
            <div class="box-border" id="box_2" style="display: none;">
              <ul class="shipping_method">
                <li>
                  <!-- <p class="subcaption bold">Free Shipping</p> -->
                  <label for="radio_button_3">
                    <input type="radio" checked name="radio_ship" id="radio_button_3">
                    Economic Shipping (6-7 days) : Free
                  </label>
                </li>
                <li>
                  <!-- <p class="subcaption bold">Free Shipping</p> -->
                  <label for="radio_button_4">
                    <input type="radio" name="radio_ship" id="radio_button_4">
                    Standard Shipping (3-4 days) : 50,000 VND
                  </label>
                </li>
              </ul>
              <button class="button" id="cont_2"><i class="fa fa-angle-double-right"></i>&nbsp; <span>Continue</span></button>
            </div>
            <h4 class="checkout-sep">4. Payment Information</h4>
            <div class="box-border" id="box_3" style="display: none;">
              <ul>
                <li>
                  <label for="radio_button_5">
                    <input type="radio" checked name="radio_pay" id="radio_button_5">
                    Visa / Master Card</label>
                </li>
                <li>
                  <label for="radio_button_6">
                    <input type="radio" name="radio_pay" id="radio_button_6">
                    Paypal</label>
                </li>
              </ul>
              <button class="button" id="cont_3"><i class="fa fa-angle-double-right"></i>&nbsp; <span>Continue</span></button>
            </div>
            <h4 class="checkout-sep last">5. Order Review</h4>
            <div class="box-border" id="box_4" style="display: none;">
              <br><label>Please review your order.</label><br>
              <a href="/order_success" class="btn btn-primary btn-lg" role="button"><span>Place Order</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End --> 